/* Styling header part */

.header-top {
    background-color: #f1ecf3;
    padding-left: 110px;
    padding-bottom: 25px;
    color: rgb(68, 61, 163);
    text-align: center;
    font-size: 30px;
    padding: 7px;
    border-top: -2px;
}
.header-right {
    float: right;
    
 }
}
/*Styling Body section */
.body-section {
    text-align: right;
}
/*Styling background image */
#background-img {
    width: 250px;
    float: left;
    height: -15px;
    margin: 2px;
    padding-top: 5px;
    padding-left: 1px;
    text-align: right;

}

/*Styling Introduction, Heading & paragraph */
.Intro {
    text-align: center;
    flex-direction: unset;
    height: 550px;
    background-repeat: no-repeat;
    font-size: 26px;
    justify-content: space-between;
    color: rgb(8, 7, 5);

    }

}
/*Styling section-reports */

.body-section-reports {
    justify-content: space-around;
    height: 250px;
    background-color: blue;
}
/* Styles footer to center */
.footer-section {
    position: sticky;
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5px;
    background-color: cyan;
    border-radius: 10px;

}

}